body{
    max-width: 600px;
    font-family: 'Montserat' , sans-serif;
    color: gray;
    margin: 0 auto;
    box-sizing: border-box;
    
   
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.card{
    width: 100px;
    height: 140px;
    border: 1px solid grey;
    background-color: lightgreen;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    box-shadow: 0.6rem 0.6rem 20px grey;
      
}

img{
    width: 40px;
    height: 40px;
    margin: 10px;
    
}
.newsletter{
    position: relative;
    width: 100%;
    border: 1px solid grey;
    font-size: 10px;
    padding: 5px;
   
}
.card-holder{
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
#email,button{
    display: block;
    width: 100%;
    position: relative;
    top: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
button{
    background-color: aquamarine;
    border: 1px solid grey;
}
#checkbox{
    border: 2px;
    position: relative;
    top: 8px;
    margin-bottom: 5px;
}
#qmark{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px;
}
.closex{
    position: absolute;
    right: 10px;
    top:10px;

    
}
label{
    position: relative;
   top: 5px;
}
h1{
  width: 100%;
  text-align: center;

}
.fejezet{
    display: block;
    align-self: flex-start;
    font-size: 10px;

}




